
html, body{
  height: 100%;
  }

  * {
  box-sizing: border-box;
}
a[href^=tel] {
  text-decoration:inherit;
  color: inherit;
}  
  body {
    color: #8f8f8f;
    background: white;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    margin:0 ;
  }
  .main_h {
      position: fixed;
      top: 0px;
      max-height: 70px;
      z-index: 999;
      width: 100%;
      background: none;
      overflow: hidden;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      opacity: 0;
      top: -100px;
      text-align: center;
    }
    .open-nav .mobile-toggle {
      color: white;
    }
    
    .sticky {
      background-color: transparent;
      border-color: transparent;
      opacity: 1;
      top: 0px;
    }
  
    .sticky a{
      color: white;
    }
    .top {
      background-color:#4e9525 ;
    }
    .top a{
        color: white;    
    }
    .logo {
      width: 210px;
      font-size: 25px;
      color: #8f8f8f;
      text-transform: uppercase;
      float: left;
      display: block;
      margin-top: 0;
      line-height: 1;
    }
    @media only screen and (max-width: 766px) {
      .logo {
        float: none;
      }
    }
    
    nav {
      width: 100%;
    }
    @media only screen and (max-width: 766px) {
      nav {
        width: 100%;
      }
    }
  
    @media only screen and (max-width: 766px) {
      nav ul {
        padding-top: 45px;
        margin-bottom: 20px;
        text-align: left;
        width: 100%;
        padding-left: 9px;
      }
      .top{
        background-color: black;
      }
      .main_h{
        background-color: black;
        max-height: 50px;
      }
    }
  
    .open-nav {
      max-height: 400px ;
    }
    nav ul li {
      display: inline-block;
      margin-left: 28px;
      line-height: 1.5;
    }
    @media only screen and (max-width: 766px) {
      nav ul li {
        width: 100%;
        padding: 7px 0;
        margin: 0;
        border-bottom: 1px solid rgba(255,255,255,.2);
      }
    }
    nav ul a {
      font-size: 14px;
      font-weight: 600;
      color: white;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    
    .mobile-toggle {
      display: none;
      cursor: pointer;
      font-size: 20px;
      position: absolute;
      left: 22px;
      top: 0;
      width: 30px;
      -webkit-transition: all 200ms ease-in;
      -moz-transition: all 200ms ease-in;
      transition: all 200ms ease-in;
    }
    @media only screen and (max-width: 766px) {
      .mobile-toggle {
        display: block;
      }
    }
    .mobile-toggle span {
      width: 25px;
      height: 3px;
      margin-bottom: 6px;
      border-radius: 1000px;
      display: block;
      background-color: white;
    }
    .ch{
      color: black;
    }
    
    .row {
      width: 100%;
      margin: 0 ;
      position: relative;
      padding: 0 2%;
    }
    a {
      text-decoration: none;
    }
    
    h1 {
      font-size: 30px;
      line-height: 1.8;
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif;
    }
    
    p {
      margin-bottom: 20px;
      font-size: 17px;
      line-height: 2;
    }
    
    .content {
      padding:0;
      margin-top: 50px;
    }
    
    .hero {
      position: relative;
      background: url("images/back2.jpg");
      -webkit-background-size: cover; 
      -moz-background-size: cover; 
      -o-background-size: cover; 
      background-size: cover; 
      background-position: center center;
      margin: auto;
      padding: 0;
      color: #fff;
      height: 100vh;
      min-height: 650px;
      letter-spacing: 2px;
      font-family: "Montserrat", sans-serif;
    }
    
    .head{
      height: 740px;
      align-items: center;
      justify-content: flex-start;
      margin-left: 0;
      margin-right: 0;
      display: flex;
      box-sizing: border-box;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }
    .textbox{
      margin: 0;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      text-align: left;
      max-width: 50%;
      padding-left: 150px;
    }
    .hero h1 {
      font-size: 45px;
      margin-top: 0;
      color: #fff;
      line-height: 1.2;
      font-weight: 700;
      font-family: "Poppins",Arial,sans-serif;
      margin-bottom: 0.5rem;
    }
    .hero h2{
      font-size: 15px;
      color: #fbd341;
      text-transform: uppercase;
      font-family: "Poppins",Arial,sans-serif;
      font-weight: 800;
      margin-bottom: 0.5rem;
    }
    .hero p{
      font-size: 18px;
      line-height: 1.5;
      color: rgba(255,255,255,0.7);
      margin-bottom: 1.5rem;
      margin-top: 0;
    }
    @media only screen and (max-width: 766px) {
      .textbox {
        padding-left: 0;
      }
      .hero h1{
        font-size: 40px;
      }
    }
    .contact{
      background-color: #4e9525;
      color: white;
      padding-bottom: 3rem;
      padding-top: 3rem;
    }
    .container{ 
      width: 100%;
      overflow: hidden;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }
    @media only screen and (min-width: 540px){ 
      .container {
          max-width: 540px;
      }
    }
    @media only screen and (min-width: 766px){ 
      .container {
          max-width: 720px;
      }
    }
    @media only screen and (min-width: 992px){ 
      .container {
          max-width: 960px;
      }
    }
    @media only screen and (min-width: 1200px){ 
      .container {
          max-width: 1140px;
      }
    }
    .box{
      align-items: center;
      justify-content: space-between;
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
    }
    .left{
      position: relative;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
    }
    .right{
      text-align: left;
      position: relative;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
    }
    @media only screen and (min-width: 766px){ 
      .left {
        flex: 0 0 50%;
        max-width: 50%;
      }
      .right{
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
      }
      .right{
        text-align: right;
      }
    }
    .number{
      font-size: 35px;
      color: #fbd341;
      font-weight: 700;
      word-wrap: break-word;
    }
    @media only screen and (max-width: 766px){ 
      .number {
        font-size: 30px;
      }
    }
    .left h2{
      font-weight: 700;
      color: #fff;
      font-size: 34px;
      margin-bottom: 0.5rem;
      margin-top: 0;
    }
    .left p{
      margin-top: 0;
      margin-bottom: 1rem;
    }
  
    .services{
      padding: 7em 0;
      padding-top: 0;
      position: relative;
    }
    .servbox{
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
    }
    .cards{
      width: 100%;
      position: relative;
      z-index: 0;
      padding-top: 3rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
  
    }
    @media only screen and (min-width: 766px){ 
      .cards{ 
        flex: 0 0 75%;
        max-width: 75%;
      }
    }
    .items{
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      padding-bottom: 40px;
    }
    @media only screen and (min-width: 766px){ 
      .items{ 
        padding-top: 1rem;
      }
    }
    .card{
      align-items: center;
      display: flex;
      position: relative;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
    }
    @media only screen and (min-width: 766px){ 
      .card{ 
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
      }
    }
    .centerize{
      width: 100%;
      background: #fff;
      padding: 20px;
      position: relative;
      border-radius: 4px;
      box-shadow: 0px 10px 30px -4px rgb(0 0 0 / 15%);
      text-align: center;
    }
    @media only screen and (max-width: 766px){ 
      .centerize{ 
        margin-bottom: 30px;
      }
    }
    .centerize:hover .iconback{
      background-color: #4e9525;
    }
    .iconback{
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin: 0 auto;
      background: rgba(0, 0, 0, 0.05);
      margin-bottom: 10px;
      align-items: center;
      justify-content: center;
      display: flex;
    }
    .icon{
      padding-top: 10px;
    }
    i{
      color: #4e9525;
      font-size: 40px;
      text-align: center;
      
    }
    .centerize:hover i{
      color: #fbd341;
    }
    .text{
      text-align: center;
    }
    .text h3{
      font-size: 18px;
      font-weight: 600;
      line-height: 1.5;
      color: rgba(0, 0, 0, 0.8);
    }
    .text p{
      margin-top: 0;
      margin-bottom: 1rem;
    }
    .infos{
      padding-bottom: 3rem;
      padding-top: 3rem;
      position: relative;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
    }
    @media only screen and (min-width: 766px){ 
      .infos{ 
        flex: 0 0 25%;
        max-width: 25%;
        order: 13;
      }
    }
    .back{
      font-size: 16px;
      line-height: 1.8;
      font-weight: 400;
      color: gray;
      text-align: left;
    }
    .header{
      font-size: 16px;
      display: block;
      margin-bottom: 5px;
      font-weight: 700;
      color: #4e9525;
    }
    .back h2{
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 1.5rem;
      line-height: 1.5;
      color: rgba(0, 0, 0, 0.8);
      margin-top: 0;
    }
    .back p{
      margin-top: 0;
      margin-bottom: 1.5rem;
    }
    .button{
      cursor: pointer;
      background: #4e9525;
      border: 1px solid #4e9525;
      color: #fff;
      border-radius: 3px;
      box-shadow: none;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      padding-bottom: 1rem;
      padding-top: 1rem;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      user-select: none;
      font-size: 1rem;
      line-height: 1.5;
      text-decoration: none;
    }
    .button2{
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
    .pay{
      background-color: #4e9525;
      color: white;
      padding-bottom: 3rem;
      padding-top: 3rem;
    }
    .right2{
      position: relative;
      width: 1000%;
      padding-right: 15px;
      padding-left: 15px;
    }
    .left2 img{
      height: 200px;
      width: auto;
    }
    @media only screen and (max-width: 1300px){ 
      .left2 img{
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .left2{
      position: relative;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
    }
    .right2 p{
      margin-top: 0;
    }
    .right2 h2{
      margin-bottom: 10px;
    }
    @media only screen and (min-width: 766px){ 
      .left2 {
        flex: 0 0 50%;
        max-width: 50%;
      }
      .right2{
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
      }
    }
    .prices{
      background-color: #f8f9fa;
      padding-top: 50px;
      padding-bottom: 5em;
    }

    #prices {
      border-collapse: collapse;
      width: 100%;
      margin: auto;
    }
    
    #prices td, #prices th {
      border: 1px solid #ddd;
      padding: 8px;
    }
    
    #prices tr:nth-child(even){background-color: #f2f2f2;}
    
    #prices tr:hover {background-color: #ddd;}
    
    #prices th {
      padding-top: 12px;
      padding-bottom: 12px; 
      text-align: left;
      background-color: #4e9525;
      color: white;
    }
    @media only screen and (min-width: 540px){ 
      #prices {
        max-width: 540px;
      }
    }
    @media only screen and (min-width: 766px){ 
      #prices {
        max-width: 720px;
      }
    }
    @media only screen and (min-width: 992px){ 
      #prices {
        max-width: 960px;
      }
    }
    @media only screen and (min-width: 1200px){ 
      #prices {
        max-width: 1140px;
      }
    }
    .bottomText{
      text-align: center;
    }


    .gallery{
      padding-top: 4em;
      padding-bottom: 5em;
    }

    .gallery-image {
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    
    .gallery-image img {
      height: 250px;
      width: 350px;
      transform: scale(1.0);
      transition: transform 0.4s ease;
      object-fit: cover;
    }
    
    .img-box {
      box-sizing: content-box;
      margin: 10px;
      height: 250px;
      width: 350px;
      overflow: hidden;
      display: inline-block;
      color: white;
      position: relative;
      background-color: white;
    }
    
    .caption {
      position: absolute;
      bottom: 5px;
      left: 20px;
      opacity: 0.0;
      transition: transform 0.3s ease, opacity 0.3s ease;
    }
    .caption p{
      padding: 0;
      margin: 0;
    }
    
    .transparent-box {
      height: 250px;
      width: 350px;
      background-color:rgba(0, 0, 0, 0);
      position: absolute;
      top: 0;
      left: 0;
      transition: background-color 0.3s ease;
    }
    
    .img-box:hover img { 
      transform: scale(1.1);
    }
    
    .img-box:hover .transparent-box {
      background-color:rgba(0, 0, 0, 0.5);
    }
    
    .img-box:hover .caption {
      transform: translateY(-20px);
      opacity: 1.0;
    }
    
    .img-box:hover {
      cursor: pointer;
    }

    .footer{
      text-align: center;
      background-color: #252525;
      color: white;
    }
    .footer p{
      margin-top: 0;
      font-size: 15px;
    }