@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?8836ede892c76f49ec0525071f7edaa5") format("truetype"),
url("./flaticon.woff?8836ede892c76f49ec0525071f7edaa5") format("woff"),
url("./flaticon.woff2?8836ede892c76f49ec0525071f7edaa5") format("woff2"),
url("./flaticon.eot?8836ede892c76f49ec0525071f7edaa5#iefix") format("embedded-opentype"),
url("./flaticon.svg?8836ede892c76f49ec0525071f7edaa5#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-lawn-mower:before {
    content: "\f101";
}
.flaticon-fence:before {
    content: "\f102";
}
.flaticon-trash:before {
    content: "\f103";
}
.flaticon-lawn-mower-1:before {
    content: "\f104";
}
.flaticon-grass:before {
    content: "\f105";
}
